body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: oklch(96.7% 0.003 264.542);
}

nav {
  margin: 20px;
}

.console {
  position: absolute;
  left: 0%;
  top: 2%;
}
.container {
  background-color: oklch(92.8% 0.006 264.531);
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding: 10px;
  gap: 10px;
  height: 90vh;
  width: 90vw;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 0px 3px 3px hsl(204, 71%, 38%, 0.5);
}

/* .container > div {
    border: 1px solid black;
} */

.projects {
  display: grid;
  grid-template-rows: 1fr 5fr;
  gap: 10px;
  padding: 10px;
}
.project-headline {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  box-shadow: 2px 2px 7px 1px #1c6ea4;
  font-family: Impact;
}

.project-list {
  box-shadow: 2px 2px 7px 1px #1c6ea4;
  padding: 5px;
  display: grid;
  grid-template-rows: 0.5fr 12fr;
}

/* .new-projects {
    border: 1px solid black;
} */

.to-do {
  display: grid;
  grid-template-rows: 1fr 5fr;
  padding: 10px;
  gap: 10px;
}

.to-do > div {
  /* border: 1px solid black; */
  box-shadow: 2px 2px 7px 1px #1c6ea4;
}

.todo-headline {
  font-family: Impact;
  font-size: 3rem;
  font-weight: bold;
  margin: auto;
  letter-spacing: 1px;
}

.to-dos {
  padding: 5px;
  display: grid;
  grid-template-rows: 1fr 12fr;
  gap: 5px;
}

.todo-button {
  justify-self: center;
  width: 300px;
  border-radius: 10px;
  font-size: 1.5rem;
  color: white;
  background: #1c6ea4;
  background: -webkit-linear-gradient(
    left,
    #1c6ea4 0%,
    #2388cb 50%,
    #144e75 100%
  );
}

.todo-button:hover {
  background: #1c6ea4;
}
.todo-button:active {
  background: #144e75;
}

.to-do-list {
  /* border: 1px solid black; */
  padding: 5px;
}

.new-todo {
  width: auto;
  height: auto;
  justify-content: space-around;
  padding: 5px;
  display: flex;
  margin: 7px;
  box-shadow: 1px 1px 4px 0px #1c6ea4;
}

.new-todo > span {
  display: flex;
  padding: 5px;
  margin: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.new-todo > span img {
  background-color: oklch(95.6% 0.045 203.388);
  border-radius: 50%;
  transition: all 0.2s ease;
  width: 30px;
  height: auto;
}

.new-todo > span img:hover {
  background-color: oklch(86.5% 0.127 207.078);
  transform: scale(1.2);
}

.new-todo span:first-child {
  display: flex;
  border: none;
}

.form-container {
  background-color: rgb(255, 255, 255);
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  width: 500px;
  height: 500px;
  justify-content: center;
  align-items: center;
  color: rgb(12, 12, 12);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 100px;
}

.top-form {
  padding: 20px;
}

.bottom-form {
  padding: 10px;
  text-align: center;
  margin-bottom: 50px;
}

.projects {
  font-size: 1.5rem;
}

.new-projects div {
  display: flex;
  justify-content: space-between;
  padding: 2px;
}

.new-projects div:hover {
  background-color: rgb(255, 255, 255, 0.3);
  margin-right: 0px;
  margin-left: 0px;
  cursor: pointer;
}

.new-projects img {
  display: none;
  border: none;
  border-radius: 50%;
  transition: all 0.2s ease;
  background-color: #ff6f91;
}

.new-projects img:hover {
  background-color: rgba(255, 255, 255, 0.7);
  transform: scale(1.2);
}

#project-form div:first-child {
  display: flex;
  gap: 5px;
}

#new-project {
  flex-grow: 1;
}

.submit-div {
  text-align: center;
}

.project-select,
span > select {
  width: auto;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 1rem;
  color: #333;
  cursor: pointer;
}

.description {
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  color: rgb(12, 12, 12);
}

.default-project {
  border-bottom: 2px solid black;
  font-weight: bold;
}
